:root {
  /* Background */
  --background-main-bg: hsl(233, 47%, 7%);
  --background-card-bg: hsl(244, 38%, 16%);
  --background-violent: hsl(277, 64%, 61%);

  /* Text Colors */
  --text-white: hsl(0, 0%, 100%);
  --text-white-paragraph: hsla(0, 0%, 100%, 0.75);
  --text-white-heading: hsla(0, 0%, 100%, 0.6);

  --soft-violent: hsl(277, 64%, 61%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  font-family: Inter, sans-serif;
  max-width: 375px;
  padding: 5rem 1rem 5rem 1rem;
  background-color: var(--background-main-bg);
  color: var(--text-white);
}

.image-overlay {
  background: var(--background-violent);
}

.image {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  /* background-color: var(--background-violent); */
  opacity: 0.3;
}

.information {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  background-color: var(--background-card-bg);
  border-radius: 0 0 0.5rem 0.5rem;
  margin-top: -5px;
}

.info-header {
  margin: 2rem 2rem 1rem 2rem;
  font-family: Lexend + Deca;
  font-weight: 700;
  font-size: 1.75rem;
}

.insights {
  color: var(--soft-violent);
}

.info-description {
  margin: 0rem 2rem 2rem 2rem;
  color: var(--text-white-paragraph);
  font-weight: 400;
  font-size: 0.9735rem;
  line-height: 1.7;
}

.stats {
  display: flex;
  flex-direction: column;
}

.statistic {
  color: var(--text-white-paragraph);
  margin: 0rem 0rem 2rem 0rem;
  text-transform: uppercase;
  font-size: 0.9375rem;
}

.stat-nbr {
  color: var(--text-white);
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .image-overlay {
    grid-column-start: 2;
  }

  .image {
    height: 100%;
  }

  .information {
    flex-direction: row;
    grid-column-start: 1;
    grid-row-start: 1;
    margin-top: 0;
  }

  .stats {
    flex-direction: row;
    justify-content: space-around;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
